# ========================
# INFRASTRUCTURE


# Kafka bootstrap servers (do not change when using docker-compose)
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rmuser
RABBITMQ_PASSWORD=test123
# Queues used by recording orchestrator to distribute recording/uploading tasks
RABBITMQ_QUEUE_RECORDING=recording-tasks-queue
RABBITMQ_QUEUE_UPLOADING=uploading-tasks-queue
# Allows recording-worker to process multiple recording jobs in parallel
RABBITMQ_RECORDING_LISTENER_CONCURRENCY=3
# Allows uploading-worker to process multiple uploading jobs in parallel
RABBITMQ_UPLOADING_LISTENER_CONCURRENCY=2

# MinIO endpoint (S3-compatible storage)
MINIO_ENDPOINT=http://minio:9000

# MinIO credentials
MINIO_USERNAME=minioUser
MINIO_PASSWORD=minio123

# Bucket where recorded streams will be stored
MINIO_BUCKET=archived-streams

# Local path inside container where recordings are temporarily stored before being uploaded to object storage (e.g., S3)
RECORDING_STORAGE_PATH=/app/data/recordings


# ========================
# AUTH & SECURITY


JWT_ACCESS_TOKEN_COOKIE_NAME=JWT_ACCESS_TOKEN
JWT_REFRESH_TOKEN_COOKIE_NAME=JWT_REFRESH_TOKEN

# Access token lifetime (e.g. 15m = 15 minutes)
JWT_ACCESS_TOKEN_LIFETIME=15m
# Refresh token lifetime (e.g. 7d = 7 days)
JWT_REFRESH_TOKEN_LIFETIME=7d

COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
COOKIE_HTTP_ONLY=true
COOKIE_PATH=/
# Access token cookie max age = 900 = 15 minutes
JWT_ACCESS_TOKEN_COOKIE_MAX_AGE=900
# Refresh token cookie max age = 604800 = 7 days
JWT_REFRESH_TOKEN_COOKIE_MAX_AGE=604800

# URL to fetch public keys for JWT validation
JWK_URL=http://auth-service:8081/.well-known/jwks.json


# ========================
# TWITCH (REQUIRED)


# Twitch application client ID (https://dev.twitch.tv/console/apps)
TWITCH_CLIENT_ID=<your_twitch_client_id>

# Twitch application client secret
TWITCH_CLIENT_SECRET=<your_twitch_client_secret>

# OAuth redirect URI (must match Twitch app settings)
TWITCH_REDIRECT_URI=http://localhost/login/oauth2/code/twitch

# Space-separated list of scopes (e.g. user:read:email)
TWITCH_SCOPE=<scopes>

# Public URL for receiving Twitch EventSub webhooks (must be accessible from the internet)
TWITCH_SUBSCRIBE_CALLBACK_URL=<your_public_url>/twitch/eventsub

# Secret used to verify Twitch webhook signatures
TWITCH_SUBSCRIBE_SECRET=<your_secret>


# ========================
# INTERNAL SERVICES

# Internal service URLs (used inside Docker network, do not change unless ports/names are modified)
AUTH_SERVICE_URL=http://auth-service:8081
SUBSCRIPTION_SERVICE_URL=http://subscription-service:8087
STREAM_STATUS_SERVICE_URL=http://stream-status-service:8088
TRACKER_SERVICE_URL=http://tracker-service:8082
STORAGE_SERVICE_URL=http://storage-service:8083


# ========================
# KAFKA TOPICS


# Kafka topics used for communication between services (must be consistent across all services)
KAFKA_TOPIC_STREAM_LIFECYCLE=stream.lifecycle.events
KAFKA_TOPIC_RECORDING_LIFECYCLE=recording.lifecycle.events
KAFKA_TOPIC_PART_RECORDING_LIFECYCLE=recording.parts.lifecycle.events

# ========================
# AUTH SERVICE


AUTH_DB_NAME=stream-archivist-auth
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgre123
AUTH_DB_URL=jdbc:postgresql://auth-postgres:5432/stream-archivist-auth


# ========================
# SUBSCRIPTION SERVICE


SUBSCRIPTION_DB_NAME=stream-archivist-subscription-db
SUBSCRIPTION_DB_USER=postgres
SUBSCRIPTION_DB_PASSWORD=postgre123
SUBSCRIPTION_DB_URL=jdbc:postgresql://subscription-postgres:5432/stream-archivist-subscription-db


# ========================
# TRACKER SERVICE


TRACKER_DB_NAME=stream-archivist-tracker-service-db
TRACKER_DB_USER=postgres
TRACKER_DB_PASSWORD=postgre123
TRACKER_DB_URL=jdbc:postgresql://tracker-postgres:5432/stream-archivist-tracker-service-db
WEBHOOK_SUBSCRIPTION_RETRY_MAX_COUNT=5


# ========================
# STREAM STATUS SERVICE


STREAM_STATUS_KAFKA_GROUP_ID=stream-status-service


# ========================
# RECORDING ORCHESTRATOR SERVICE


RECORDING_ORCHESTRATOR_KAFKA_GROUP_ID=recording-orchestrator-group


# ========================
# STORAGE SERVICE


STORAGE_KAFKA_GROUP_ID=storage-service-group
STORAGE_DB_NAME=stream-archivist-storage-service-db
STORAGE_DB_USER=postgres
STORAGE_DB_PASSWORD=postgre123
STORAGE_DB_URL=jdbc:postgresql://storage-postgres:5432/stream-archivist-storage-service-db