name: Fast compile uploading-worker
on:
  push:
    paths:
      - 'uploading-worker/**'
      - 'pom.xml'
    branches-ignore: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Fast compile uploading-worker
        run: mvn -pl uploading-worker -am clean compile