name: Build tracker-service
on:
  push:
    paths:
      - 'tracker-service/**'
      - '.github/workflows/**'
    branches: [ "main" ]
  pull_request:
    paths:
      - 'tracker-service/**'
      - '.github/workflows/**'
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build tracker-service with Maven
      working-directory: ./tracker-service
      run: mvn clean package -DskipTests

    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6