name: Validate gateway-service PR
on:
  pull_request:
    paths:
      - 'gateway-service/**'
      - 'pom.xml'
      - 'common/**'
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Validate gateway-service
        run: mvn -pl gateway-service -am clean verify